<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Pulse</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PollLoadController</display-name>
    <servlet-name>PollLoadController</servlet-name>
    <servlet-class>controller.PollLoadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PollLoadController</servlet-name>
    <url-pattern>/PollLoadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PollAddController</display-name>
    <servlet-name>PollAddController</servlet-name>
    <servlet-class>controller.PollAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PollAddController</servlet-name>
    <url-pattern>/PollAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PollViewController</servlet-name>
    <servlet-class>controller.PollViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PollViewController</servlet-name>
    <url-pattern>/viewpollstats.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AreaUnivController</servlet-name>
    <servlet-class>controller.AreaUnivController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaUnivController</servlet-name>
    <url-pattern>/addunivarea.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryLoadController</servlet-name>
    <servlet-class>controller.CategoryLoadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryLoadController</servlet-name>
    <url-pattern>/addpoll.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>*.logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInfoController</servlet-name>
    <servlet-class>controller.UserInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoController</servlet-name>
    <url-pattern>/myprofile.jsp</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>403</error-code>
    <location>/403-error.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404-error.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500-error.html</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/502-error.html</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/503-error.html</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/504-error.html</location>
  </error-page>
</web-app>